#inbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  position: fixed;
  width: fit-content;
  font-family: sans-serif;
}

.email {
  width: 100%;
  border-bottom: 1px solid #D9D9D9;
  font-size: small;
  padding: 15px;
  font-family: sans-serif;
}

.email:hover {
  background-color: #D9D9D9;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.selected:hover {
  box-shadow: none;
}

.email-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.emial h2, h3 {
  margin: 0px;
}

.email a {
  color: #e63946;
}

.selected {
  background-color: #D9D9D9;
  border-left: 10px solid #e63946;
  padding-right: 5px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  border-bottom: 1px solid #D9D9D9;
  z-index: 1;
}
nav .items {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
nav .searchBar {
  border: none;
  width: 30vw;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #D9D9D9;
}
nav .searchBar:focus {
  outline: none;
}
nav .searchArea {
  padding: 5px;
  background-color: #D9D9D9;
}
nav .profileArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  font-family: sans-serif;
}
nav .openBtn {
  cursor: pointer;
}

@media (mim-width: 1200px) {
  .openBtn {
    display: none;
  }
}
@media (min-width: 768px) {
  .openBtn {
    display: block;
  }
}
@media (mim-width: 320px) {
  .openBtn {
    display: block;
  }
}
#sidebar {
  z-index: 2;
  font-family: sans-serif;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #1D3557;
  overflow-y: auto;
  transition: all 1s;
}
#sidebar .top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sidebar .top span {
  display: flex;
  align-self: flex-end;
  padding-top: 5px;
}
#sidebar #logo {
  background-image: url(../img/image.png);
  background-position: center;
  background-size: cover;
  width: 17vh;
  height: 17vh;
}
#sidebar #logout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
#sidebar #link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#sidebar .sidelink {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  width: 100%;
}
#sidebar .sidelink:hover {
  background-color: #ffffff;
  color: #1D3557;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
#sidebar .activesidelink {
  border-left: 2px solid #ffffff;
  background-color: #112034;
}

@media (min-width: 1200px) {
  #sidebar {
    left: 0px;
    transition: all 1s;
  }
}
@media (max-width: 768px) {
  #sidebar {
    left: -200px;
    transition: all 1s;
  }
}
#messaging {
  overflow-y: scroll;
  padding: 10px;
  border: 1px solid #D9D9D9;
  height: 100vh;
  position: fixed;
  left: 603px;
  max-width: fit-content;
  font-family: sans-serif;
  top: 45px;
}

.sender {
  padding-top: 20px;
}

#profilepic {
  width: 50px;
  height: 50px;
}

.TheBold {
  font-weight: bold;
}

.messages-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 10%;
}

#overprofile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profile {
  display: flex;
  justify-content: space-between;
}
#profile h4 {
  padding-left: 10px;
}

#messaging a {
  color: #e63946;
}

#signature {
  width: 400px;
  height: 80px;
}

body {
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  display: inline-block;
  top: 45px;
  left: 192px;
  max-width: calc(100% - 192px);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-y: scroll;
}
main #messaging {
  width: 100%;
}

@media (max-width: 768px) {
  main {
    position: relative;
    top: 45;
    left: 0;
    max-width: 100%;
    display: flex;
  }
  main #inbox {
    width: 100%;
  }
  main #messaging {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
