@use '_var';

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: var.$primary-white;
    position: fixed;
    border-bottom: 1px solid var.$primary-gray;
    z-index: 1;
    // left: 192px;

    .items {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        // max-width: fit-content;
    }

    .searchBar {
        border: none;
        // box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
        width: 30vw;
        height: 20px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: var.$primary-gray;
    }

    .searchBar:focus {
        outline: none;
    }

    .searchArea {
        padding: 5px;
        // border: 1px solid var.$primary-blue;
        background-color: var.$primary-gray;
    }

    .profileArea {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
        font-family: var.$font-stack;
    }
    .openBtn{
        cursor: pointer;
    }

}

@media (mim-width: var.$breakpoint-desktop) {
    .openBtn {
        display: none;
    }
}

@media (min-width: var.$breakpoint-tablet) {
    .openBtn {
        display: block;
    }
}

@media (mim-width: var.$breakpoint-mobile) {
    .openBtn {
        display: block;
    }
}