$imperial-red: #e63946ff;
$honeydew: #f1faeeff;
$powder-blue: #a8dadcff;
$celadon-blue: #457b9dff;
$prussian-blue: #1d3557ff;

$primary-blue: #1D3557;
$secondary-blue: #112034;
$primary-gray: #D9D9D9;
$primary-white: #ffffff;

$font-stack: sans-serif;

$breakpoint-desktop: 1200px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 320px;