@use '_var';

@use '_messages';
@use '_nav';
@use '_sidebar';
@use '_viewMessage';

body {
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    display: inline-block;
    // z-index: -1;
    top: 45px;
    left: 192px;
    max-width: calc(100% - 192px);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-y: scroll;

    #inbox {
        // width: 20vw;
    }

    #messaging {
        width: 100%;
    }
}

@media (mim-width: var.$breakpoint-desktop) {}

@media (max-width: var.$breakpoint-tablet) {
    main {
        position: relative;
        top: 45;
        left: 0;
        max-width: 100%;
        display: flex;
        // flex-direction: column;
        // justify-content: space-between;

        #inbox {
            // display: flex;
            // flex-direction: column;
            // justify-content: space-between;
            // align-items:flex-start;
            // position: fixed;
            width: 100%;
        }

        #messaging {
            display: none;
        }
    }
}

@media (max-width: var.$breakpoint-mobile) {
    main {
        position: relative;
        top: 45;
        left: 0;
        max-width: 100%;
        display: flex;
        // flex-direction: column;
        // justify-content: space-between;

        #inbox {
            // display: flex;
            // flex-direction: column;
            // justify-content: space-between;
            // align-items:flex-start;
            // position: fixed;
            width: 100%;
        }

        #messaging {
            display: none;
        }
    }
}